body {
    margin: 0;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*grid*/
.grid {
    display: grid;
    grid-template-rows: repeat(1fr, 12);
}

/*header*/
header {
    grid-row: 1 / span 1;
    height: 6rem;
    background-color: #393939;
    border-bottom: solid 5px #3498DB;
}

header img {
    height: 4.5rem;
    margin: 40px;
}

/*navigation*/
nav {
    grid-row: 2 / span 1;
    background-color: #393939;
    font-size: 1.1rem;
    margin-right: 40px;
}

nav a {
    color: #3498DB;
    text-decoration: none;
    padding: 10px 14px;
}

nav a.active {
    background-color: #3498DB;
    color: white;
    border-radius: 10%;
}

nav a:hover, nav .subnavbtn:hover {
    color: white;
}

.subnav, .subnavbtn {
    font-family: 'Lato';
    color: #3498DB;
    background-color: inherit;
    padding: 10px 12px;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.subnav-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #393939;
    width: 7%;
    padding: 10px;
}

.subnav:hover .subnav-content {
    display: block;
}

/*Main*/
.mainphoto {
    top: 6rem;
    grid-row: 3 / span 1;
}

.mainphoto img {
    width: 100%;
}



/*Footer*/
footer {
    grid-column: 1 / span 14;
    background-color: #393939;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid 5px #3498DB;
}

.map {
    height: 250px;
    width: 300px;
    padding: 40px 0px;
}

footer a {
    text-decoration: none;
    color: #3498DB;
}

.webinfo {
    width: 300px;
}